* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 36px;
    font-size: 24px;
    color: #f9faf8;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.main-banner {
    color: #f9faf8;
    font-size: 48px ;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.principal-mountain {
    height: auto;
    width: 500px;
}

.banner-content {
    padding: 12px;
}

.banner-img {
    padding: 24px;
}

.banner-content button {
    margin-top: 16px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.card-container {
    display: flex;
}

.card {
    margin: 24px;
}

.mountains {
    height: auto;
    width: 250px;
}

.alt-container {
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.quote {
    color: #1f2937;
    font-family: italic;
    font-size: 36px;
}

.author {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.alt-banner {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    padding: 50px;
}

.banner-text {
    color: #f9faf8;
}

footer {
    padding: 40px;
    text-align: center;
    color: #f9faf8;
}

header,
footer,
.main-banner {
    background-color: #1f2937;
}

.banner-content,
.menu {
    font-size: 18px;
    color: #e5e7eb;
}

.main-container h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
}

button {
    padding: 8px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    padding: 24px;
}

a {
    text-decoration: none;
    color: white;
}